---
Title: Notes
---
<div class="block">
    
    This is an open collection of work-in-progress notes of literature, explorations, learning and ideas in various stages of readiness (draft, in progress, finished). Also called a digital garden, this type of web presence is [somewhere inbetween a tweet and a blog](https://maggieappleton.com/garden-history), in terms of the amount of structure and readiness. Like a garden, it's grown slowly over time, by [tending to notes and planting new ones](https://maggieappleton.com/garden-history). 

    Disclaimer: Use of any information on this site is solely at your own risk ;) 
    Digital Garden [Terms of service](https://www.swyx.io/digital-garden-tos/).

    
    </div>